# The pruning packages
-e ./src/torchprune
-e ./src/experiment

# We need those with special tags unfortunately...
-f https://download.pytorch.org/whl/lts/1.8/torch_lts.html
torch==1.8.2+cu111 
torchvision==0.9.2+cu111 
torchaudio==0.8.2 

# Some extra requirements for the code base
jupyter
black
ipython
flake8
pre-commit
pycodestyle
pydocstyle
pylint
pyfiglet
